* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    background: #000;
    min-width: 970px;
}
.nav {
    width: 970px;
    min-width: 970px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between; 
    padding: 4px 0px;
}
.nav a {
    line-height: 20px;
    font-size: 12px;
    color: white;
}
.nav a:hover {
    text-decoration: underline;
}
.nav li {
    list-style: none;
    float: left;
    display: flex;
    justify-content: space-around;
    padding: 0px 2px;
    margin: 0px 2px;
}
.nav_left li.user a:hover {
    text-decoration: none;
}
.nav_right {
    margin-right: 20px;
}
.nav_right ul li.red a {
    color: red;
}
/*------------------------------*/
.content {
    width: 970px;
    min-width: 970px;
    margin: 0px auto;
}
.top {
    margin-top: 20px;
    margin-right: 20px;
}
.logo {
    float: left;
}
.year {
    float: right;
}
.menu {
    float: right;
    margin-top: -20px;
}
.menu li {
    list-style: none;
    float: left;
}
.banner img {
    margin-top: 20px;
    width: 950px
}
.content_in {
    margin-top: 20px;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px dotted #181818;
}
.top_left {
    float: left;
    width: 250px;
    padding-left: 10px;
    border-right: 2px solid #a3a3a3;
}
.top_left li.tittle a {
    font-size: 14px;
    line-height: 30px;
    color: #8d8d8d;
    padding-left: 3px;
    font-weight: bold;
}
.top_left li.tittle {
    border-bottom: none;
}
.top_left li {
    list-style: none;
    margin-right: 10px;
    border-bottom: 1px solid #888888;
}
.top_left li a.date {
    font-size: 10px;
    color: #000;
}
.top_left li a.text,
.more a {
    font-size: 12px;
    color: #000;
}
.top_left li a.text:hover,
.more a:hover,
.bottom table tbody td.td_more a:hover {
    color: rgb(104, 104, 104);
    text-decoration: underline;
}
.top_left .more {
    float: right;
    margin-right: 10px;
}
/*------------------------------*/
.top_m {
    float: left;
    width: 500px;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
}
.m_in {
    float: left;
    width: 150px;
    height: 320px;
    padding: 5px;
    border: 1px solid rgb(100, 100, 100);
    background-color: white;
}
.m_in:hover {
    background-color: #cde2fd;
}
.m_in_t {
    padding-bottom: 5px;
    border-bottom: 1px dashed #cccccc;
}
.m_in_t a {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.m_in_t a:hover {
    color: rgb(88, 88, 88);
    text-decoration: underline;
}
.m_in_t img {
    width: 138px;
}
.m_in_b a {
    line-height: 26px;
    font-size: 13px;
}
/*------------------------------*/
.top_right {
    width: 160px;
    height: 320px;
    float: right;
}
.top_right img {
    width: 160px;
}
.top_right ul {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.top_right li {
    list-style: none;
    margin-bottom: 5px;
}
/*------------------------------*/
.bottom {
    width: 970px;
    padding-right: 30px;
    display: inline-block;
    margin-bottom: 50px;
}
.pagetop {
    display: flex;
    justify-content: flex-end;
}
.pagetop img {
    width: 74px;
}
.bottom_in {
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}
.bottom table td{
    width: 180px;
}
.bottom table td a{
    font-size: 13px;
    line-height: 26px;
    color: #000;
    text-decoration: none;
}
.bottom table tbody td{
    border-bottom: 1px dotted #8d8d8d;
}
.bottom table tbody td.td_more{
    border-bottom: none;
}
.bottom table tbody td.td_more a{
    font-size: 12px;
    float: right;
}
.bottom_in:hover {
    text-decoration: underline;
}
/*------------------------------*/
footer {
    width: 100%;
    min-width: 970px;
    display: flex;
    align-items: flex-end;
    background-color: #000000;
}
.footer_in {
    height: 40px;
    width: 900px;
    margin: 0px auto;
    font-size: 12px;
    padding: 10px;
    color: white;
}
.footer_in a {
    color: white;
    text-decoration: none;
}
.footer_in a:hover {
    text-decoration: underline;
}