* {
    font-family: Microsoft JhengHei;
}
header {
    width: 100%;
    margin-top: 3%;
    text-align: center;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
button {
    width: 100px;
    margin: 0 auto;
}
.text {
    height: 50px;
}